@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.nav-holder {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(38, 38, 38);
}

.bars {
  display: none;
  cursor: pointer;
}
.bars .bar {
  display: block;
  width: 25px;
  margin: 5px 0;
  background-color: #f5f5f5;
  height: 3px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.bars.active .bar:nth-child(2) {
  opacity: 0;
}
.bars.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.bars.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.logo {
  height: 60px;
  width: 100px;
  background-image: url(../images/logo3.png);
  margin-left: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: height 0.3s, opacity 0.2s ease-in;
  margin-right: 50px;
}
.links a {
  display: block;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  text-decoration: none;
  margin-left: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.links.active {
  height: 450px;
  opacity: 1;
}

@media screen and (max-width: 960px) {
  .bars {
    display: block;
    position: absolute;
    top: 15px;
    right: 50px;
  }
  .logo {
    position: absolute;
    top: 5px;
  }
  .links {
    margin: 10px auto;
    padding-top: 250px;
    overflow: hidden;
    height: 0;
    width: 100vw;
    background-color: rgb(38, 38, 38);
    opacity: 0;
    flex-direction: column;
  }
  .links a {
    margin-left: 0;
  }
}
.home {
  margin: 70px auto 0 auto;
  width: 100%;
}
.home .hero {
  max-width: 100%;
  height: 750px;
  background-image: linear-gradient(rgba(38, 38, 38, 0.5), rgba(40, 40, 40, 0.8)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .hero h1 {
  max-width: 60%;
  color: #f5f5f5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.home .hero p {
  max-width: 670px;
  text-align: center;
  color: #f5f5f5;
  font-family: "Lora", serif;
  font-style: italic;
}
.home .home-info {
  width: 100%;
  height: 750px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .home-info h2 {
  width: 80%;
  padding-top: 40px;
  text-align: center;
  color: rgb(38, 38, 38);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.home .home-info span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: rgb(104, 104, 104);
}
.home .home-info .info-cards {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: -200px;
}
.home .home-info .info-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}
.home .home-info .info-cards .card h3 {
  color: rgb(38, 38, 38);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  word-spacing: 1.5px;
}
.home .home-info .info-cards .card p {
  display: flex;
  justify-content: center;
  width: 70%;
  text-align: center;
}
.home .home-info .info-cards .card .info-button {
  min-width: 150px;
  height: 50px;
  background-color: #EB4511;
  cursor: pointer;
  text-decoration: none;
  color: #f5f5f5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 70px;
  transition: 0.4s;
}
.home .home-info .card:hover {
  box-shadow: 2px 3px 26px 2px rgba(0, 0, 0, 0.42);
}
.home .home-info .info-button:hover {
  font-size: 20px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

@media screen and (max-width: 960px) {
  .about {
    margin-top: 300px;
  }
}
.browse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
}
.browse .grid-holder {
  width: 90%;
  min-height: 500px;
  display: grid;
  justify-content: center;
  grid-template-columns: 800px 350px;
  grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px;
  gap: 40px;
  padding: 40px;
}
.browse .grid-holder .grid-item-img {
  background-color: aliceblue;
}
.browse .grid-holder .grid-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -10px;
}
.browse .grid-holder .grid-item {
  background-color: blue;
  color: greenyellow;
}

@media screen and (max-width: 960px) {
  .browse {
    margin-top: 300px;
  }
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

@media screen and (max-width: 960px) {
  .contact {
    margin-top: 300px;
  }
}

/*# sourceMappingURL=styles.css.map */
