.browse {
	width: 100%;
	height: 100%;
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		color: $black;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
			sans-serif;
		text-align: center;
		text-decoration: underline 2px solid $orange;
		text-underline-offset: 5px;
		margin-top: 20px;
	}

	.grid {
		width: 90%;
		height: 90%;
		display: grid;
		justify-content: center;
		grid-template-columns: 600px 300px;
		grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px;
		gap: 20px;
		padding: 20px 0;
		margin-bottom: 40px;

		.grid-img-one {
			background-image: url(../images/gal1.jpg);
			background-position: 50px auto;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.grid-img-two {
			background-image: url(../images/gal2.jpeg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.grid-img-three {
			background-image: url(../images/gal3.jpg);
			background-position: 20px auto;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.grid-img-four {
			background-image: url(../images/gal4.jpg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.grid-img-five {
			background-image: url(../images/gal5.jpg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.grid-img-six {
			background-image: url(../images/gal6.jpg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.grid-img-seven {
			background-image: url(../images/gal7.jpg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.grid-img-eight {
			background-image: url(../images/gal8.jpg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.grid-img-nine {
			background-image: url(../images/gal9.jpg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.grid-img-ten {
			background-image: url(../images/gal10.jpg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.grid-txt {
			padding: 10px 0 10px 10px;
			border: solid $blue 3.5px;
		}
	}
}

@media screen and (max-width: 1100px) {
	.browse {
		.grid {
			grid-template-columns: 600px;
			grid-template-rows: 300px 150px 300px 150px 300px 150px 300px 150px 300px 150px 300px 150px 300px 150px 300px 150px 300px 150px 300px 150px;
			gap: 20px;
			padding: 20px 0;
		}
	}
}
